service cloud.firestore {
  match /databases/{database}/documents {

    function isAdmin() {
      return get(/databases/$(database)/documents/usuarios/$(request.auth.uid)).data.role == "admin";
    }

    match /{document=**} {
      // Permissão total se o usuário for um admin
      allow read, write: if isAdmin();
    }

    // Permitir que todos os usuários autenticados acessem a própria informação de perfil
    match /usuarios/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;

      // Permissões para a coleção de tokens
      match /tokens/{tokenId} {
        allow read, write: if request.auth != null && request.auth.uid == userId;
      }

      // Permissões para a coleção de requisições e sua subcoleção de itens
      match /requisicoes/{requisicaoId} {
        allow read, write: 
          if request.auth != null && request.auth.uid == userId;
          
        match /itens/{itemId} {
          allow read, write:
            if request.auth != null && request.auth.uid == userId;
        }
      }
    }
  }
}
